@font-face {
    font-family: 'exposeregular';
    src: url('expose-regular-webfont.woff2') format('woff2'),
         url('expose-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.jumbotron {
    padding-top: 7rem;
}
section {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

#about {
    background-color:#732424 ;
    color: #f2e852;
}